<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanshy.farmmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".crops.MyCrops"
            android:label="@string/my_crops"
            android:parentActivityName=".Home"/>
        <activity android:name=".crops.SingleCrop"
            android:label="@string/crop"
            android:parentActivityName=".crops.MyCrops"/>
        <activity android:name=".crops.ServiceProviders"
            android:label="@string/service_provider"
            android:parentActivityName=".Home"/>
        <activity android:name=".crops.SowingCrop"
            android:label="@string/sowing_crop"
            android:parentActivityName=".crops.OptionForSingleCrop"/>
        <activity android:name=".crops.OnAStandingCrop"
            android:label="@string/on_a_standing_crop"
            android:parentActivityName=".crops.OptionForSingleCrop"/>
        <activity android:name=".crops.ReapingCrop"
            android:label="@string/reaping_crop"
            android:parentActivityName=".crops.OptionForSingleCrop"/>
        <activity android:name=".crops.PartnerCrop"
            android:label="@string/partners"
            android:parentActivityName=".Home"/>
        <activity android:name=".crops.IncomeCrop"
            android:label="@string/income_of_crop"
            android:parentActivityName=".crops.OptionForSingleCrop"/>
        <activity android:name=".crops.ReportSingleCrop"
            android:label="@string/report"
            android:parentActivityName=".crops.OptionForSingleCrop"/>
        <activity android:name=".extras.HomeExpenditure"
            android:label="@string/home_expenditure"
            android:parentActivityName=".Home"/>
        <activity android:name=".extras.SideBusiness"
            android:label="@string/side_business"
            android:parentActivityName=".Home"/>
        <activity android:name=".extras.OtherExpenditure"
            android:label="@string/other_expenditure"
            android:parentActivityName=".Home"/>
        <activity android:name=".crops.OptionForSingleCrop"
            android:label="@string/crop"
            android:parentActivityName=".crops.MyCrops"/>
        <activity android:name=".extras.side_business.SideExpenditure"
            android:label="@string/side_expenditure"
            android:parentActivityName=".extras.SideBusiness"/>
        <activity android:name=".extras.side_business.SideIncome"
            android:label="@string/side_income"
            android:parentActivityName=".extras.SideBusiness"/>
        <activity android:name=".extras.side_business.SideReport"
            android:label="@string/report"
            android:parentActivityName=".extras.SideBusiness"/>
        <activity android:name=".extras.side_business.SideExpenditureHistory"
            android:label="@string/history"
            android:parentActivityName=".extras.side_business.SideExpenditure"/>
        <activity android:name=".extras.side_business.SideIncomeHistory"
            android:label="@string/history"
            android:parentActivityName=".extras.side_business.SideIncome"/>
        <activity android:name=".crops.IncomeCropHistory"
            android:label="@string/crop_income_history"
            android:parentActivityName=".crops.OptionForSingleCrop"/>
        <activity android:name=".crops.AddServiceProvider"
            android:label="@string/add_service_provider"
            android:parentActivityName=".crops.ServiceProviders"/>
        <activity android:name=".crops.ServiceProviderSingle"
            android:label="@string/service_provider"
            android:parentActivityName=".crops.ServiceProviders"/>
        <activity android:name=".crops.AddPartnerCrop"
            android:label="@string/add_partner"
            android:parentActivityName=".crops.PartnerCrop"/>
        <activity android:name=".crops.PartnerCropSingle"
            android:label="@string/partner"
            android:parentActivityName=".crops.PartnerCrop"/>
        <activity android:name=".crops.AllCropsReport"
            android:label="@string/report"
            android:parentActivityName=".Home"/>
        <activity android:name=".crops.AddCrop"
            android:label="@string/add_crop"
            android:parentActivityName=".crops.MyCrops" />
        <activity android:name=".crops.SowingCropHistory"
            android:label="@string/sowing_crop_history"
            android:parentActivityName=".crops.OptionForSingleCrop" />
        <activity android:name=".crops.OnAStandingCropHistory"
            android:label="@string/on_a_standing_crop_history"
            android:parentActivityName=".crops.OptionForSingleCrop"/>
        <activity android:name=".crops.ReapingCropHistory"
            android:label="@string/reaping_crop_history"
            android:parentActivityName=".crops.OptionForSingleCrop"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".crops.BuyerCrops"
            android:label="@string/buyer"
            android:parentActivityName=".Home"/>
        <activity android:name=".crops.BuyerCropsSingle"
            android:label="@string/buyer"
            android:parentActivityName=".crops.BuyerCrops"/>
        <activity android:name=".crops.AddBuyerCrops"
            android:label="@string/add_buyer"
            android:parentActivityName=".crops.BuyerCrops"/>
        <activity android:name=".crops.EditCrop"
            android:label="@string/edit_crop"
            android:parentActivityName=".crops.OptionForSingleCrop"/>
        <activity android:name=".crops.PayHistoryBuyer"
            android:label="@string/pay_history"
            android:parentActivityName=".crops.BuyerCropsSingle"/>
        <activity android:name=".crops.PayHistoryServiceProvider"
            android:label="@string/pay_history"
            android:parentActivityName=".crops.ServiceProviderSingle"/>
        <activity android:name=".loans.NewLoan"
            android:label="@string/new_loan"
            android:parentActivityName=".Home"/>
        <activity android:name=".loans.LoansList"
            android:label="@string/loan"
            android:parentActivityName=".Home"/>
        <activity android:name=".loans.PayHistory"
            android:label="@string/pay_history"
            android:parentActivityName=".Home"/>
        <activity android:name=".loans.ReportLoan"
            android:label="@string/report_loan"
            android:parentActivityName=".Home"/>
        <activity android:name=".loans.LoanPerson"
            android:label="@string/loan_person"
            android:parentActivityName=".Home"/>
        <activity android:name=".loans.AddLoanPerson"
            android:label="@string/add_loan_person"
            android:parentActivityName=".loans.LoanPerson"/>
        <activity android:name=".crops.HistoryOfServiceForSingleServiceProvider"
            android:label="@string/history_of_service"
            android:parentActivityName=".crops.ServiceProviderSingle"/>
        <activity android:name=".extras.HomeExpenditureList"
            android:label="@string/home_expenditure"
            android:parentActivityName=".extras.HomeExpenditure"/>
        <activity android:name=".extras.OtherExpenditureList"
            android:label="@string/other_expenditure"
            android:parentActivityName=".extras.OtherExpenditure"/>
        <activity android:name=".loans.PayHistorySingle"
            android:label="@string/pay_history"
            android:parentActivityName=".loans.SingleLoan"/>
        <activity android:name=".crops.HistoryOfSingleBuyerPurchase"
            android:label="@string/history_of_purchase"
            android:parentActivityName=".crops.BuyerCropsSingle"/>
        <activity android:name=".loans.SingleLoan"
            android:label="@string/loan"
            android:parentActivityName=".Home"/>
    </application>

</manifest>